.votingRoom-container{
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    scroll-padding: 125px;
}

.votingRoom-background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /* background-size: 400% 400%; */
    z-index: -2;
    transition: background-color 4s linear;
    /* background: linear-gradient(318deg, #00ffbd, #ffffff); */
}

.votingRoom-background-opacityLayer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left:0;
    background: linear-gradient(45deg, #fbfbff, rgba(255,255,255,0));
}

.votingroom_song-container{
    grid-template-rows: repeat(2, minmax(29vw, 1fr));
    grid-template-columns: repeat(3, minmax(33vw, 1fr));
    display: grid;
    -webkit-justify-content: center;
    justify-content: start;
    -webkit-align-content: end;
    align-content: start;
    padding-bottom: 2rem;
}

.votingroom_currentlyPlaying-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 75vh;

}

.votingroom_titleLabel-container{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 1rem 1.25rem;
}

.votingroom_currentlyPlaying-titleContainer{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.votingroom_currentlyPlaying-roomLabel{
    color: var(--color-light-green);
    font-size: 0.9rem;
}

.votingroom_currentlyPlaying-roomName{
    font-size: 1.5rem;
}

.votingroom_currentlyPlaying-albumCover{
    width: 18rem;
    height: 18rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    /* box-sizing: border-box; */
    /* margin: 2rem; */
    border-radius: 9%;
    box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.75);
    margin-top: 7rem;
    margin-bottom: 1rem;
}

.votingroom_currentlyPlaying-roomInfo_container{
    position: absolute;
    top: 1rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.5rem;
    box-sizing: border-box;
    align-items: center;
    /* left: 0; */
    /* padding-right: 3rem; */
}

.votingroom_addedSongs-container{
    scroll-snap-align: start;
    background-color: white;
    border-radius: 35px;
    padding-top: 10px;
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

.votingroom_currentlyPlayingBuffer{
    scroll-snap-align: start;
    position: relative;
    width: 100vw;
    height: 75vh;
}

.votingroom_addSong-container{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.votingroom_loading-container{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    grid-column: auto/span 3;
    grid-row: auto/span 3;
    padding: 2rem;
    box-sizing: border-box;
    height: 75px;
}

.votingroom-noResultMesaage{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    grid-column: auto/span 3;
    grid-row: auto/span 3;
    padding: 2rem;
    box-sizing: border-box;
}


.votingroom_addedSong-tab{
    position: absolute;
    top: -20px;
    height: 8px;
    width: 150px;
    left: calc(50% - 75px);
    background-color: white;
    margin-bottom: 10px;
    border-radius: 15px;
}


.votingroom-musictile-animation{
    transition: opacity 400ms;
    opacity: 0;
    position: absolute;
}

.votingroom-musictile-animation-appear{
    opacity: 0;
    transition: opacity 400ms;
    position: absolute;
}

.votingroom-musictile-animation-appear-active{
    opacity: 1;
    transition: opacity 400ms;
    position: absolute;
    /* transition: opacity 10000ms; */
}

.votingroom-musictile-animation-enter{
    opacity: 0;
    position: absolute;
}

.votingroom-musictile-animation-enter-active{
    opacity: 1;
    transition: opacity 400ms;
    position: absolute;
}

.votingroom-musictile-animation-enter-done{
    position: absolute;
}

.testcontainer{
    position: absolute;
}

.votingroom-musictile-animation-exit{
    opacity: 1;
    position: absolute;
}

.votingroom-musictile-animation-exit-active {
    opacity: 0;
    transition: opacity 400ms;
    position: absolute;
}

.votingroom-musictile-animation-exit-done {
    position: absolute;
    display: none;
}

.votingroom-loading{
    background: var(--color-green)
}
