.btn {
  outline: none;
  font-family: 'Source Sans Pro';
  background-color: var(--color-green);
  cursor: pointer;
  /* background-color: inherit; */
  width: 100%;
  border-radius: 30px;
  /* height: 20px; */
  padding: 1rem 0;
  margin: 1rem 0;
}

.btn[disabled] {
  cursor: not-allowed;
}

.btn:not(:disabled):hover,
.btn:not(:disabled):active,
.btn:not(:disabled):focus {
  opacity: 0.8;
}
