:root {
  --color-black: #000000;
  --color-light-black: #282828;
  --color-white: #fbfbff;
  --color-off-white: #DADADA;
  --color-light-grey: #656565;
  --color-light-green: rgba(88, 219, 135);
  --color-green: #1ed760;
}
