:root {
  --color-black: #000000;
  --color-light-black: #282828;
  --color-white: #fbfbff;
  --color-off-white: #DADADA;
  --color-lightest-grey:#a3a3a3;
  --color-light-grey: #656565;
  --color-light-green: #6fed9d;
  --color-green: #1ed760;
}
