/* TODO: Add proper font family styles. */

/* @media only screen and (max-width: 520px) { */
/* .type--large-white {
    color: var(--colour-white);
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }  
  .type--large-green {
    color: var(--colour-green);
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  } */
/* }   */

/* @media only screen and (min-width: 521px) { */

.type--small-white-bold {
  color: var(--colour-white);
  font-size: 18px;
  font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  font-weight: 600;
}

.type--small-green {
  color: var(--colour-green);
  font-size: 18px;
  font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

.type--large-white {
  color: var(--colour-white);
  font-size: 42px;
  font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

.type--large-green {
  color: var(--colour-green);
  font-size: 42px;
  font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

.type--error{
  text-align: left;
  font-size: 0.8rem;
  color: red;
  display: flex;
  justify-content: start;
  align-items: center;
}
/* } */

h2 {
  font-size: 1.75rem;
  font-family: "Montserrat", sans-serif;
  color: var(--color-light-black);
  padding: 0;
  margin: 0;
}

p {
  font-size: 0.9rem;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--color-light-grey);
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h4{
  font-size: 1.1rem;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--color-light-grey);
  font-weight: 600;
  padding: 0;
  margin: 0;
}

h5 {
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
