.createJoinRoom {
  background-color: var(--colour-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.createJoinRoom__app-name {
  position: absolute;
  top: 10px;
  left: 10px;
}

.createJoinRoom__content {
  border-bottom: 2px solid var(--colour-white);
  border-top: 2px solid var(--colour-white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10vh 0px;
}

.createJoinRoom__content__input-field {
  padding: 7vh 12px 10vh;
  color: var(--colour-white);
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.createJoinRoom__content__button {
  border-radius: 10px;
  padding: 10px 20px;
}
