.music-tile__container {
  width: 33%;
  height: 33%;
  min-width: 150px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.music-tile__song-title {
  text-align: center;
}
