.home-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;;
}

.home-screen_buttonContainer{
  display: flex;
  width: 100%;
}

.home-screen_join-room-container{
  display: flex;
  flex-direction: column;
}

.home-screen_create-room-text{
  margin: 1rem 0;
  text-align: left;
}



.home-screen__boxes-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.home-screen__box-input {
  width: 170px;
  height: 170px;
  border: 2px solid var(--colour-white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home-screen__create-room__icon {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.home-screen__join-room__icon {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}


.home-screen_title-container{
  display: flex;
}

.home-screen_nearby-container-title{
  display: flex;
}

.home-screen_nearby-scroll-container{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100vw;
  margin-left: -2rem;
  display: inline-flex;
  min-height: 13rem;
}

.home-screen_title_green{
  color: var(--color-green);
}

.home-screen_nearby-container{
  display: flex;
  margin: 2rem 0;
  flex-direction: column;
  align-items: flex-start;
  -webkit-overflow-scrolling: touch;
  
}

.room-card_container{
  display: inline-flex;
  width: 135px;
  height: 11rem;
  background-color: grey;
  margin: 1rem 0 1rem 0.7rem;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0.5rem;
  box-sizing: border-box;
}

.room-card_container_title{
  padding: 0.5rem;
  color: white;
}

.home-screen_join-room-input{
  margin: 1rem 0;
}

.buttonText{
  color: var(--color-white);
  display: flex;
  justify-content: center;
}

.home-screen_create-room-container{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .home-screen{
    padding: 2rem 4rem;
  }
  .home-screen_buttonContainer{
    justify-content: flex-start;
    width: 200px;
  }
  .home-screen_join-room-container{
    align-items: center;
  }
  .home-screen_create-room-container{
    align-items: center;
  }
  .home-screen_create-room-text{
    text-align: center;
  }
  .home-screen_title-container__font{
    font-size: 2.25rem;
  }
}


@media only screen and (min-width: 768px) {
  .home-screen{
    padding: 3rem 10rem;
  }
}