/* Import Font Styles */

@import url("./shared/fonts.css");

/* Import Baseline styles */

@import url("./shared/colours.css");

/* Import JS Styles */

@import url("./js/shared/components/VoteButton.css");
@import url("./js/shared/components/MusicTile.css");

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
